<div class="containers">
  <div class="row">
    <!-- left side -->
    <div class="col-3">

      <div class="h5-container">
        <h1 class="content-1"> Fujitsu</h1>
      </div>

      <div class="h1-container">
        <h1 class="content-2"> Welcome Back!</h1>
      </div>

      <div class="p-container">
        <p class="content-3">
          To keep connected with us please login<br>
          with your personal information</p>
      </div>

      <div class="button-container">
        <a href="signup"> <button class="content-4"
            style=" background: transparent; color: #FFFFFF;">signup</button></a>
      </div>

    </div>

    <!-- right side -->
    <div class="col-9">

      <div class="h2-container">
        <h1 class="content-5"> Create Account</h1>
      </div>

      <div class="ol-container">
        <ol class="content-6" type="none">
          <i class="fa-brands fa-square-facebook"></i>
          <i class="fa-brands fa-linkedin"></i>
          <i class="fa-brands fa-square-twitter"></i>
        </ol>
      </div>

      <div class="p-container-1">
        <p class="content-7"> or use your email for registration</p>
      </div>

      <div class="form-container">
        <form class="content-8" [formGroup]="signin" (ngSubmit)="onSubmit()">

          <input class="form-control form-control-lg" type="text" placeholder="Name" formControlName="Name"><br><br>
          <div *ngIf="Name.invalid && (Email.dirty || Name.touched)" class="invalid-feedback">
            <div class=valid *ngIf="Name.errors?.['required'] ||Name.errors.pattern"> Invalid Name. </div>
          </div>

          <input class="form-control form-control-lg" type="text" placeholder="Email" formControlName="Email"><br><br>
          <div *ngIf="Email.invalid && (Email.dirty || Email.touched)" class="invalid-feedback">
            <div class=valid *ngIf="Email.errors?.['required'] ||Email.errors.pattern"> Invalid Email id. </div>
          </div>

          <input class="form-control form-control-lg" type="text" placeholder="Password"
            formControlName="Password"><br><br>
          <div *ngIf="Password.invalid && (Password.dirty || Password.touched)" class="invalid-feedback">
            <div class=valid *ngIf="Password.errors?.['required']"> password is required.</div>
          </div>

          <div class="button-container-1">
            <a href="update"><button class="content-9" (click)="onSubmit()"><b>SIGN IN</b></button></a>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>