<nav class="navbar navbar-default">
    <div id="viewport">
        <!-- Sidebar -->
        <div id="sidebar">
            <header>
                <li type="none">
                <a><i class="fa-solid fa-face-smile-wink"></i>  SB ADMIN</a>
            </li>
            </header>

            <ul class="nav" style="list-style-type:none;">
                <li>
                    <a href="#">
                        <i class="fa-solid fa-gauge"></i>
                        Dashboard
                    </a>
                </li>
                <br>
                <hr>
                <p><small>INTERFACE</small></p>
                <li>
                    <a href="#"><i class="fa-sharp fa-solid fa-gear"></i>
                        components
                    </a>
                </li>
                <br>
                <li>
                    <a href="#"><i class="fa-solid fa-wrench"></i>
                        Utilities
                    </a>
                </li>
                <br>
                <hr>
                <p><small>ADDONS</small></p>
                <li>
                    <a href="#"><i class="fa-solid fa-file"></i>
                        pages
                    </a>
                </li>
                <br>
                <li>
                    <a href="#">
                        <i class="fa-solid fa-chart-simple"></i>
                        chart
                    </a>
                </li>
                <br>
                <li>
                    <a href="#"><i class="fa-solid fa-table"></i>
                        Table
                    </a>
                </li>
                <hr>
                <li>
                    <a href="#"><i class="fa-solid fa-circle-xmark" style="font-size: 20px;"></i>
                    </a>
                </li>
            </ul>
        </div>

        <!-- Content -->
        <div id="content">
            <nav class="navbar navbar-default">
                <nav class="navbar bg-dark">
                    <div class="container-fluid">
                        <form class="d-flex" role="search">
                            <input class="form-control me-2" type="search" placeholder="Search for.." aria-label="Search">
                            <button class="btn btn-outline-success" type="submit" style="background-color:#1373F2;"><i
                                    class="fa-solid fa-magnifying-glass"></i></button>
                                    <li type="none">
                                        <i class="fa-sharp fa-solid fa-bell"></i>
                                        <i class="fa-solid fa-envelope"></i>
                                        <i class="fa-solid fa-user"></i>
                                   </li>
                        </form>
                    </div>
                </nav>
            </nav>

            <div class="container-fluid">
          <h3>Dashboard   <button><i class="fa-solid fa-download"></i>Generate Report</button>
          </h3>
            </div>
        </div>
    </div>  
</nav>